* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
header{
background:#111;
color:white;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav a{
color:white;
text-decoration:none;
margin-left:25px;
font-size:18px;
font-weight:bold;
transition:0.3s;
}

nav a:hover{
color:#00bfff;
}
/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    padding: 15px 40px;
    color: white;
}

header ul {
    display: flex;
    list-style: none;
}
a{
text-decoration:none;
color:inherit;
}

.card{
cursor:pointer;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}
header ul li {
    margin-left: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

header ul li a:hover {
    color: #00c6ff;
}

/* Hero */
.hero{
background:linear-gradient(to right,#007bff,#00c6ff);
color:white;
text-align:center;
padding:100px 20px;
width:100%;
}

.hero h2{
font-size:48px;
margin-bottom:10px;
}

.hero p{
font-size:22px;
margin-bottom:20px;
}

.hero button{
padding:12px 30px;
border:none;
background:white;
color:#007bff;
font-size:18px;
font-weight:bold;
border-radius:5px;
cursor:pointer;
}

.hero button:hover{
background:#111;
color:white;
}
/* Services */
.services {
    display: flex;
    padding: 50px;
    gap: 20px;
}

.card {
    flex: 1;
    padding: 25px;
    background: #f4f4f4;
    color: black;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}
.card h2,
.card h3,
.card p{
color:black;
}

.card:hover {
    transform: translateY(-10px);
}

/* Contact */
.contact {
    padding: 50px;
    text-align: center;
}

.contact form {
    max-width: 400px;
    margin: auto;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.contact button {
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}

/* Responsive */
@media (max-width: 768px) {
    .services {
        flex-direction: column;
    }

    header {
        flex-direction: column;
    }
}.login-box{
width:350px;
background:white;
padding:40px;
margin:100px auto;
text-align:center;
box-shadow:0 0 10px rgba(0,0,0,0.2);
border-radius:10px;
}

.login-box input{
width:90%;
padding:12px;
font-size:16px;
}

.login-box button{
padding:12px 30px;
background:#007bff;
color:white;
border:none;
cursor:pointer;
}

.login-box button:hover{
background:#111;
}
footer{
background:#111;
color:white;
text-align:center;
padding:25px;
margin-top:30px;
}

.social-icons{
margin-bottom:15px;
}

.social-icons a{
color:white;
font-size:28px;
margin:0 15px;
transition:0.3s;
}

.social-icons a:hover{
color:#00c6ff;
}